<div class="">
    <div class="d-flex justify-content-between align-items-center px-2">
        <a
            routerLink="/"
            routerLinkActive="active"
            class="p-3 h6 text-uppercase font-weight-bold no-underline"
            >tom hall<br />dev blog</a
        >
        <ul ngbNav #nav="ngbNav" class="nav-links justify-content-flex-end">
            <li ngbNavItem>
                <a ngbNavLink class="btn-outline">Subscribe</a>
            </li>
        </ul>
    </div>
</div>
