<div class="container py-md-4 py-lg-5">
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <h1
                class="font-weight-bold text-uppercase text-center my-5 header-lg"
            >
                get your code on
            </h1>
            <h2 class="text-center">
                <span class="text-primary">
                    <a href="#watch" class="mr-2">watch.</a>
                    <a href="#read" class="mr-2">read.</a>
                    <a href="#listen" class="mr-2">listen.</a>
                    <a href="#learn">learn.</a> </span
                ><br />up your code skills and build
            </h2>
            <div class="text-center mt-5 py-5">
                <a href="/" class="btn btn-primary btn-lg text-uppercase"
                    >subscribe &darr;</a
                >
            </div>
        </div>
    </div>
</div>

<div class="container py-md-4 py-lg-5">
    <ul *ngFor="let page of links$ | async">
        <li>
            <a [routerLink]="page.route">{{ page.route }}</a>
        </li>
    </ul>
</div>
