<div class="container py-md-4 py-lg-5">
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <h1
                    class="font-weight-bold text-uppercase text-center my-5 header-lg"
            >
                Helping America Learn to <u>Code</u>
            </h1>
            <div class="text-center mt-5 py-5">
                <a href="/" class="btn btn-primary btn-lg text-uppercase">get started &darr;</a>
            </div>
        </div>
    </div>
</div>

<div class="my-md-4 my-lg-5 container py-md-4 py-lg-5">
    <div class="row justify-content-center">
        <h3 class="text-center text-uppercase">Getting Started Path</h3>
    </div>
</div>

<div class="container py-md-4 py-lg-5">
    <ul *ngFor="let page of links$ | async">
        <li>
            <a [routerLink]="page.route">{{ page.route }}</a>
        </li>
    </ul>
</div>
